<div class="DataProtection" style="width: 393px; height: 852px; position: relative; background: white">
    <div class="HomeIndicator" style="width: 383px; height: 34px; padding-top: 21px; padding-bottom: 8px; padding-left: 120px; padding-right: 120px; left: 4px; top: 810px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <div class="Line" style="width: 143px; height: 5px; background: #1E1E1E; border-radius: 100px"></div>
    </div>
    <div class="WeDoNotStoreYourSelfie" style="left: 28px; top: 110px; position: absolute; color: #1E1E1E; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; letter-spacing: 0.80px; word-wrap: break-word">We do not store your selfie</div>
    <div class="ProductnameWillProcessPersonalInformationAboutYouToProvideYouWithYourAnalysisAndRecommendationTheSelfieThatYouUploadForProductnameWillBeDeletedAfterAnalysisAndTheInformationRetainedWillBeUsedConsistentWithThisNoticePrivacyPolicy" style="width: 335px; left: 28px; top: 152px; position: absolute"><span style="color: #1E1E1E; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; letter-spacing: 0.80px; word-wrap: break-word">PRODUCTNAME, will process personal information about you to provide you with your analysis and recommendation. The selfie that you upload for PRODUCTNAME will be deleted after analysis, and the information retained will be used consistent with this Notice. </span><span style="color: #1E1E1E; font-size: 16px; font-family: Roboto; font-weight: 400; text-decoration: underline; line-height: 24px; letter-spacing: 0.80px; word-wrap: break-word">Privacy Policy.</span></div>
    <div class="Group26086141" style="width: 335px; height: 179px; left: 28px; top: 357px; position: absolute">
      <div class="Checkboxes" style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div class="StateLayer" style="padding: 11px; border-radius: 100px; justify-content: center; align-items: center; display: inline-flex">
          <div class="Container" style="width: 18px; height: 18px; border-radius: 2px; border: 2px #49454F solid"></div>
        </div>
      </div>
      <div class="Headline" style="width: 287px; left: 48px; top: 11px; position: absolute; color: #1E1E1E; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; letter-spacing: 0.50px; word-wrap: break-word">I consent to the scanning of my face and the processing of my image as described in the PRODUCTNAME INFORMATION NOTICE and agree to all its terms, including as regards data retention/deletion/use, processing, storage.</div>
    </div>
    <div class="Group26086142" style="width: 335px; height: 107px; left: 28px; top: 547px; position: absolute">
      <div class="Checkboxes" style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div class="StateLayer" style="padding: 11px; border-radius: 100px; justify-content: center; align-items: center; display: inline-flex">
          <div class="Container" style="width: 18px; height: 18px; border-radius: 2px; border: 2px #49454F solid"></div>
        </div>
      </div>
      <div class="Headline" style="width: 287px; left: 48px; top: 11px; position: absolute; color: #1E1E1E; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; letter-spacing: 0.50px; word-wrap: break-word">I agree that I have reviewed the Terms of Use (which includes an arbitration provision) and agree to all terms set.</div>
    </div>
    <div class="Button" style="width: 160px; height: 40px; left: 204px; top: 712px; position: absolute; background: #6750A4; border-radius: 100px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
      <div class="StateLayer" style="align-self: stretch; flex: 1 1 0; padding-left: 24px; padding-right: 24px; padding-top: 10px; padding-bottom: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
        <div class="LabelText" style="text-align: center; color: white; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">ACCEPT</div>
      </div>
    </div>
    <div class="Button" style="width: 160px; height: 40px; left: 29px; top: 712px; position: absolute; border-radius: 100px; overflow: hidden; border: 1px #79747E solid; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
      <div class="StateLayer" style="align-self: stretch; flex: 1 1 0; padding-left: 24px; padding-right: 24px; padding-top: 10px; padding-bottom: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
        <div class="LabelText" style="text-align: center; color: #6750A4; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">REJECT</div>
      </div>
    </div>
    <div class="StatusBar" style="width: 375px; height: 44px; left: 7px; top: 0px; position: absolute">
      <div class="Battery" style="width: 24.33px; height: 11.33px; left: 336px; top: 17.33px; position: absolute">
        <div class="Rectangle" style="width: 22px; height: 11.33px; left: 0px; top: 0px; position: absolute; opacity: 0.35; border-radius: 2.67px; border: 1px #1E1E1E solid"></div>
        <div class="CombinedShape" style="width: 1.33px; height: 4px; left: 23px; top: 3.67px; position: absolute; opacity: 0.40; background: #1E1E1E"></div>
        <div class="Rectangle" style="width: 18px; height: 7.33px; left: 2px; top: 2px; position: absolute; background: #1E1E1E; border-radius: 1.33px"></div>
      </div>
      <img class="Wifi" style="width: 15.27px; height: 10.97px; left: 315.69px; top: 17.33px; position: absolute" src="https://via.placeholder.com/15x11" />
      <img class="MobileSignal" style="width: 17px; height: 10.67px; left: 293.67px; top: 17.67px; position: absolute" src="https://via.placeholder.com/17x11" />
      <div class="TimeStyle" style="width: 54px; height: 21px; padding-top: 2px; padding-bottom: 1px; left: 21px; top: 12px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div class="41" style="width: 54px; height: 18px; text-align: center; color: #1E1E1E; font-size: 15px; font-family: SF Pro Text; font-weight: 600; word-wrap: break-word">9:41</div>
      </div>
    </div>
    <div class="TermsConditions" style="left: 89px; top: 56px; position: absolute; color: #1E1E1E; font-size: 24px; font-family: Goudy Bookletter 1911; font-weight: 400; line-height: 36px; letter-spacing: 1.20px; word-wrap: break-word">Terms & Conditions</div>
  </div>